var file, test;

// monkey patch console.log
var _log = console.log;
console.log = function() {
  var args = Array.prototype.slice.call(arguments, 0, arguments.length);
  $('body').append('<p>' + args.join(' ') + '</p>');
  _log.apply(console, args);
  $.post('/log', { args: args });
}

try {
  $(document).ready(function() {
  <% files.forEach(function(file) { %>
    file = require('<%- file %>');
    for(var test in file) {
      console.log('Running: ' + test);
      file[test]();
    }
  <% }) %>
  // all tests passed
  // tell the server that we are done
  $.getJSON('/done');

  // and close the window
  // window.close();
  });
} catch (error) {
  var text = '<strong>' + error + '</strong>';
  if (error.stack) text += '<br/>' + error.stack;
  $('body').append('<p style="color: red;">' + text + '</p>');

  // tell the server that we are done
  $.getJSON('/done');
  $.post('/error', { error: error.message });
  // rethrow error
  throw error;
}