var file, test;
$(document).ready(function() {

// monkey patch console.log
var _log = console.log;
console.log = function() {
  var args = Array.prototype.slice.call(arguments, 0, arguments.length);
  $('body').append('<p style="padding-left: 1em;">' + args.join(' ') + '</p>');
  _log.apply(console, args);
}

try {
  <% files.forEach(function(file) { %>
    file = require('<%- file %>');
    for(var test in file) {
      $('body').append('<p><strong>' + test + '</strong></p>');
      file[test]();
    }
  <% }) %>
  // all tests passed
  $.getJSON('/done');
  window.close();
} catch (error) {
  var text = '<strong>' + error + '</strong>';
  if (error.stack) text += '<br/>' + error.stack;
  $('body').append('<p style="color: red;">' + text + '</p>');

  // rethrow error
  throw error;
}
});